// Non-modular or client styles for .l-footer region.

.l-footer {
	background: $black;
	padding: 2rem 0px;
	a {
		color: $white;
	}

}


.bottom-bar {
	background: $gold;
	color: $black;
	padding: 1rem;
}