{#
/**
 * @file
 * Jumbotron pattern.
 */
#}

<div class="jumbotron row">
	<div class="jumbo-first">
		<h1>{{ title }}</h1>
		 <p>{{ subtitle }}</p>	
	</div>
	<div class="jumbo-second">
		<div class="jumbo-blockquote">
			"{{ blockquote }}"
		</div>
		<div class="name">
			-{{ name }}
		</div>
	</div>
</div>
