.user-contact {
	background: $black;
	color: $white;
	padding: 2em;

	i {
		&:before {
		color: $gold;
		}
	}

	.contact-name-info {
		h3 {
			line-height: 2rem;
			margin-bottom: 0px;
		}
	
	}

    .user-divider {
    	@include divider ($gold);
    }


}

.user-area-focus {
	font-size: 1.5rem;
}

.uc-left {
	padding-left: 0px;
}

