<div class="user-contact row">

	<div class="medium-3 columns uc-left">
		{{ image }}
	</div>

	<div class="medium-9 columns uc-right">
		<div class="contact-name-info">
			<h3>{{ name }}</h3>
			<h4>{{ title }}</h4>
		</div>
		<div class="user-divider"></div>

		<div class="contact-info">
		  <i class="fi-mail large">&nbsp;&nbsp;email AT topuniversity.edu</i>
		  
		  <br>
		  <i class="fi-telephone large">&nbsp;&nbsp;470.578.6410</i>
		  <br>
		  <i class="fi-home large">&nbsp;&nbsp;Kennesaw Campus <br> 3211 Campus Loop Rd</i>
		</div>
			
	</div>
</div>